* {
  margin: 0%;
  padding: 0%;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 70%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 68%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 65%;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

#navbar {
  display: flex;
  position: fixed;
  justify-content: space-evenly;
  width: 100%;
  background-color: khaki;
  padding: 1.875em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-link {
  padding: 0% 1% 0% 1%;
  font-size: 120%;
  color: #009faa;
}

#navbar a:hover {
  background: #009faa;
  color: white;
}

#welcome-section {
  background-color: dimgray;
  height: 100vw;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  background-color: #3a3d40;
  background: linear-gradient(59deg, #3a3d40, #000);
  height: 100vh;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.heading {
  font-family: raleway, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sub-heading {
  font-family: "Century Gothic", Courier, monospace;
  font-style: italic;
  color: #009faa;
  font-size: 1.875em;
}

h1 {
  color: white;
  font-size: 4.063em;
  padding: 0% 0% 1.5% 0%;
}

#projects {
  padding: 3.125em;
  /* padding-bottom: 5%; */
}

h2 {
  color: #009faa;
  font-size: 3.125em;
  padding: 3% 0% 3% 0%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(20em, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

@media (max-width: 40em) {
  /* 30.625em */
  .projects-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.project-tile {
  margin-left: auto;
  margin-right: auto;
  background: #009faa;
  font-family: "Century Gothic", Courier, monospace;
  font-weight: bold;
  font-size: 150%;
  padding: 2% 2% 2% 2%;
  border-radius: 2%;
  text-align: center;
}

.project-tile:hover {
  margin-left: auto;
  margin-right: auto;
  background: #085c62;
  font-family: "Century Gothic", Courier, monospace;
  font-weight: bold;
  font-size: 150%;
  padding: 2% 2% 2% 2%;
  border-radius: 2%;
  text-align: center;
  color: #009faa;
}

a {
  text-decoration: none;
}

.project-title {
  color: white;
  padding-top: 0.313em;
  padding-bottom: 0em;
}

#profile-link {
  display: block;
  text-align: center;
  font-family: "Century Gothic", Courier, monospace;
  font-weight: bold;
  font-size: 150%;
  margin-top: 2.813em;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding: 1% 2% 1% 2%;
  border-radius: 2%;
  background: #009faa;
  color: white;
}

#profile-link:hover {
  background: #085c62;
}

#contact {
  display: flex;
  flex-direction: column;
  background-color: #009faa;
  background: linear-gradient(59deg, #009faa, #60cdd4);
  height: 60vh;
  width: 100%;
  justify-content: center;
  text-align: center;
}

#contact h2 {
  color: white;
  font-size: 3.125em;
  padding: 3% 0% 3% 0%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#contact p {
  margin-left: auto;
  margin-right: auto;
  background: khaki;
  font-family: "Century Gothic", Courier, monospace;
  font-weight: bold;
  font-size: 150%;
  padding: 1% 2% 1% 2%;
  border-radius: 2%;
}

footer {
  text-align: center;
  font-style: italic;
}
