* {
  margin: 0%;
  padding: 0%;
}

#navbar {
  display: flex;
  position: fixed;
  justify-content: space-evenly;
  width: 100%;
  background-color: #009faa;
  color: white;
  padding: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-link {
  padding: 0% 1% 0% 1%;
  font-size: 120%;
  color: white;
}

#welcome-section {
  background-color: dimgray;
  height: 100vw;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  background-color: #3a3d40;
  background: linear-gradient(59deg, #3a3d40, #000);
  height: 100vh;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.heading {
  font-family: raleway, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sub-heading {
  font-family: "Century Gothic", Courier, monospace;
  font-style: italic;
  color: #009faa;
  font-size: 30px;
}

h1 {
  color: white;
  font-size: 65px;
  padding: 0% 0% 1.5% 0%;
}

#projects {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 5%;
}

h2 {
  color: #009faa;
  font-size: 50px;
  padding: 3% 0% 3% 0%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.projects-grid {
  display: grid;
  /* grid-template-columns: 50% 50%; */
  grid-template-columns: repeat(2, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.project-tile {
  margin-left: auto;
  margin-right: auto;
  background: #009faa;
  font-family: "Century Gothic", Courier, monospace;
  font-weight: bold;
  font-size: 150%;
  padding: 2% 2% 2% 2%;
  border-radius: 2%;
  text-align: center;
}

a {
  text-decoration: none;
}

.project-title {
  color: white;
}

#profile-link {
  display: block;
  text-align: center;
  font-family: "Century Gothic", Courier, monospace;
  font-weight: bold;
  font-size: 150%;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding: 1% 2% 1% 2%;
  border-radius: 2%;
  background: #009faa;
  color: white;
}

#contact {
  display: flex;
  flex-direction: column;
  background-color: #009faa;
  background: linear-gradient(59deg, #009faa, #60cdd4);
  height: 60vh;
  width: 100%;
  justify-content: center;
  text-align: center;
}

#contact h2 {
  color: white;
  font-size: 50px;
  padding: 3% 0% 3% 0%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#contact p {
  margin-left: auto;
  margin-right: auto;
  background: khaki;
  font-family: "Century Gothic", Courier, monospace;
  font-weight: bold;
  font-size: 150%;
  padding: 1% 2% 1% 2%;
  border-radius: 2%;
}

footer {
  text-align: center;
  font-style: italic;
}
